@model IEnumerable<OnlineStore.Models.Data.Product>

@{
	Layout = "_Layout";
}
 
<div class="container-fluid">
	<center><h2 class="bg-primary">Products</h2></center>
	<table class="table table-striped">
		<div>
			<a asp-action="Index" asp-controller="Home">Go to home page</a>
		</div>
		<form asp-action="Products" method="get">
			<div class="nav navbar-nav">
				<div>
					Filter category:
					<select name="filterCategory">
						<option class="dropdown-toggle" value="">All</option>
						<option value="Laptops">Laptops</option>
						<option value="Tablets">Tablets</option>
						<option value="Smartphones">Smartphones</option>
					</select> 
					<input type="submit" value="Search" class="btn btn-default" /> |
					<a asp-action="Products">Back to Full List</a>
				</div>
			</div>
		</form>
		<thead>
			<tr>
				<th>Product name</th>
				<th>
					<a asp-action="Products" asp-route-sortOrder="@ViewData["PriceSort"]">Price</a>
				</th>
				<th>Category</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Category.Name)
					</td>
					<td>
						<a class="btn btn-success" asp-action="Purchase" asp-route-id="@item.Id">By</a>
					</td> 
				</tr>
			}
		</tbody>
	</table>
</div>
 